<%- include('common/header') %>

<style>
    .blue{
        color: #1FBED6;
    }
    a:hover{
        text-decoration: none;
    }
    .data{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
</style>

<div class="container">
    <h1> <%= iiit.fullName %> </h1>
    <h3 class="blue"> <%= branch %> </h3>
    <b><%= year %>
    <%= category.toUpperCase().split("_").join(" ") %><br></b>
    <hr>
</div>
<br><br><br><br>
<div class="data-container">
    <div class="data">
        <h3 class="blue" style="font-weight: 600;"> Round</h3>
        <h6 class="blue">Opening Rank</h6>
        <h6 class="blue">Closing Rank</h6>
    </div>
    <% data.forEach(item => { %>
        <div class="data">
            <h3><%= item.round %></h3>
            <h6><%= item.opening %></h6>
            <h6><%= item.closing %></h6>
        </div>
    <% }) %>
    <script>
        const data = document.querySelectorAll(".data")[1].children[0].textContent;
        if (data == "null"){
            const fail = `<h1><span style="color:red;">Sorry.</span> Data not found.</h1>
            <h5>Try<a href="/">modifying</a>your query.</h5>`;
            document.querySelector('.data-container').innerHTML = fail;
        }
    </script>
</div>
<%- include('common/footer') %>